@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

@font-face {
  font-family: '7-Segment';
  src: url('/assets/fonts/7segment.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    --buttonRed: #BA2525;
    --neutral: #CBCBCB;
    --send: #3CA02C;
    font-family: "Space Grotesk", 'Neue Haas Grotesk Text Pro', 'system-ui', 'sans-serif';
  }

  body {
    @apply bg-bg;
  }
}

@layer utilities {
  button:disabled>* {
    @apply drop-shadow-none;
    @apply opacity-35;
    @apply shadow-none;
  }
}